/* MAIN HEADER */

main {
  position: relative;
  padding-top: 1rem;
}

section {
  width: min(92%, 1440px);
  margin: auto;
  padding: 3rem 0;
}

.bg-div {
  background-color: var(--bgSection);
}

.highlight {
  color: var(--mainColor);
}

.typewriter-container {
  width: min(90%, 800px);
}

.cursor {
  animation: blink 1s ease-in-out infinite;
  font-weight: 200;
}

.animated-text {
  color: var(--mainColor);
  text-decoration: underline;
}

.h1-typewriter {
  font-size: 3.5rem;
  font-weight: var(--titleWeight);
  line-height: 1.2;
}

.typewriter-container p {
  color: var(--mutedText);
  font-size: 1rem;
  margin: 2rem 0;
}

.typewriter-container button {
  all: unset;
  background-color: var(--mainColor);
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: var(--rounded-xl);
  border: 2px solid var(--mainColor);
  cursor: pointer;
  transition: all 0.2s ease;
}

.typewriter-container button:hover {
  background-color: #fff;
  color: var(--mainColor);
}

.grid-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.img-main {
  border-radius: var(--rounded-xl);
  width: 420px;
  height: 420px;
  object-fit: cover;
}

.section-objective {
  padding-top: 8.5rem;
}

.section-objective h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: var(--titleWeight);
}

.section-objective p {
  font-size: 1rem;
  margin: 2rem 0;
  color: var(--mutedText);
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0;
  gap: 1.5rem;
}

.grid-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--rounded-xl);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

@media (max-width: 550px) {
  .h1-typewriter {
    font-size: 2rem;
  }

  .section-objective {
    padding-top: 5rem;
  }

  .section-objective h1 {
    font-size: 2rem;
  }

  .grid-section img {
    height: 180px;
  }
}

@media (max-width: 700px) {
  main {
    padding-top: 2rem;
  }

  .typewriter-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .grid-main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .img-main {
    display: none;
  }

  .grid-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
