@import url("header.css");
@import url("main-content.css");

:root {
  --bgDefault: #fff;
  --bgSection: #f3efe0;
  --mainColor: #499f68;

  --mutedText: #737373;
  --secondColor: #166534;
  --neutralColor: #a3a3a3;

  --transitionTime: 0.5s;
  --titleWeight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--bgBody);
}
